@import url("https://fonts.googleapis.com/css?family=Oswald&display=swap");
@import url("https://fonts.googleapis.com/css?family=Dosis|Grand+Hotel&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
  text-decoration: none;
}

.container-fluid, .container {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid--top {
  background-color: #222222;
}

.contact {
  height: 50px;
  display: flex;
}

.contact__mail, .contact__phone {
  display: flex;
  flex: 1.5;
  justify-content: center;
}

.area__restrita {
  display: flex;
  flex: 1;
}

.contact__social {
  display: flex;
  flex: 1;
}

.contact__mail a, .contact__phone a, .contact__social a {
  align-self: center;
  color: #ababab;
}

.contact__mail a img, .contact__phone a img, .contact__social a img {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.endereco {
  font-size: 14px;
}

.menu__home, .navbar {
  height: 86px;
  font-family: "Oswald", sans-serif;
}

/*
#navbarNavDropdown{
	justify-content: flex-end;
	z-index:999;

}

ul.navbar-nav{
	align-self: flex-end;
	font-size: 21px;
}

.dropdown-item{
	&:hover{
		background-color: black;
		color:white;
	};

}

.nav-item{
	margin-right: 10px;
	align-self: flex-end;
}*/
.carrosel__int {
  height: 650px;
  width: 100%;
}

.carousel-item img {
  height: 650px;
  width: 100%;
}

.instituicao {
  height: 569px;
}

.instituicao_int {
  height: 469px;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
}

.institucional__video, .institucional__sobre {
  height: 460px;
  display: flex;
  flex: 1;
  flex-direction: column;
}

.institucional__tittle {
  font-family: "Grand Hotel", cursive;
  text-align: center;
  font-size: 60px;
  color: #5CC6D0;
}

.institucional__conteudo {
  margin: 10px 20px 10px 20px;
  font-size: 20px;
  font-family: "Dosis", cursive;
  text-align: center;
  font-weight: bolder;
}

.btn-saiba-mais {
  width: 200px;
  align-self: center;
}

iframe {
  height: 100%;
}

.container-fluid--green {
  background-color: rgba(111, 205, 124, 0.96);
}

.nossaEstrutura {
  height: 850px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.nossaEstrutura__tittle {
  display: flex;
  flex: 1;
  font-family: "Grand Hotel", cursive;
  line-height: 169px;
  font-size: 60px;
  justify-content: center;
  color: white;
  font-weight: bolder;
}

.nossaEstrutura_body {
  display: flex;
  flex: 4;
}

.nossaEstrutura__card {
  display: flex;
  flex: 1;
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

.nossaEstrutura__card .card img {
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.card-title {
  font-family: "Dosis", cursive;
  font-size: 18px;
  line-height: 1.4em;
  margin: 8px 0px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.card-text {
  color: #777777;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 22px;
  text-align: center;
}

.btn--card {
  width: 150px;
  width: -webkit-fill-available;
}

.card {
  margin-bottom: 50px;
}

.parallax__home {
  background-image: url(../image/cardbody/creche-bos.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding-top: 300px;
  padding-bottom: 300px;
}

.parallax__home--quebra {
  background-image: url(../image/parallax/quebra.jpg);
  object-fit: cover;
}

.diferencial {
  height: 1000px;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  margin-top: 50px;
  
}

.diferencial__tittle {
  display: flex;
  flex: 1;
  font-family: "Grand Hotel", cursive;
  font-size: 60px;
  color: #5CC6D0;
  justify-content: center;
}

.diferencial__conteudo {
  display: flex;
  flex: 7;
}

.diferencial__left, .diferencial__center, .diferencial__rigth {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.diferencial__left-1, .diferencial__left-2, .diferencial__left-3, .diferencial__right-1, .diferencial__right-2, .diferencial__right-3 {
  display: flex;
  flex: 1;
}

.diferencial__left-1--conteudo {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.diferencial__left-1-image {
  display: flex;
  flex: 1;
  margin-left: 10px;
}

.diferencial__left-1-image img {
  height: 100px;
  width: 100px;
  align-self: center;
}

.diferencial__left-tittle {
  color: #333333;
  transition: all 0.3s ease 0s;
  font-size: 25px;
  font-weight: 700;
  text-align: right;
  margin-bottom: 25px;
}

.diferencial__left-desc {
  color: #777777;
  font-size: 15px;
  text-align: right;
}

.diferencial__left-1-image--mod img {
  border-radius: 20px;
  object-fit: cover;
}

____ .diferencial__right-1--conteudo {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.diferencial__right-1-image {
  display: flex;
  flex: 1;
  margin-right: 10px;
}

.diferencial__right-1-image img {
  height: 100px;
  width: 100px;
  align-self: center;
}

.diferencial__right-tittle {
  color: #333333;
  transition: all 0.3s ease 0s;
  font-size: 25px;
  font-weight: 700;
  text-align: left;
  margin-bottom: 25px;
}

.diferencial__right-desc {
  color: #777777;
  font-size: 15px;
  text-align: left;
}

.diferencial__right-1-image--mod img {
  border-radius: 20px;
  object-fit: cover;
}

.diferencial__center img {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.diferencial__center {
  justify-content: center;
}

.matriculas {
  height: 300px;
  background-color: #f5b51f;
  display: flex;
}

.matriculas__tittle, .matriculas__desc, .matriculas__btn {
  display: flex;
  flex: 1;
  justify-content: center;
}

.matriculas__tittle {
  color: white;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.2em;
  text-transform: uppercase;
  font-family: Dosis, sans-serif;
  align-self: center;
}

.abertas {
  font-size: 50px;
  align-self: center;
}

.matriculas__desc {
  color: white;
  font-size: 20px;
  align-self: center;
  font-family: "Roboto", sans-serif;
}

.btn-matricular {
  align-self: center;
  height: 80px;
  width: 200px;
  font-family: "Roboto", sans-serif;
  font-size: 21px;
  text-align: center;
  line-height: 60px;
}

.container-fluid--blue {
  background-color: #4527a0;
}

.bercario {
  height: 700px;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
}

.bercario__left, .bercario__right {
  flex: 1;
  display: flex;
}

.bercario__left {
  align-self: center;
  justify-content: center;
}

.bercario__left img {
  height: 450px;
  width: 450px;
}

.bercario__right {
  flex-direction: column;
}

.bercario__right-tittle {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.bercario__right-desc, .bercario__right-btn {
  display: flex;
  flex: 1;
}

.tittle__bercario {
  font-size: 30px;
  color: #1e83b9;
  margin-bottom: 30px;
  margin-top: 20px;
  font-weight: 800;
  line-height: 1.4em;
  text-transform: uppercase;
  color: #ccc;
  font-family: "Dosis", sans-serif;
}

.tittle__cuidar {
  font-size: 100px;
  font-weight: 500;
  text-transform: capitalize;
  font-family: "Grand Hotel", cursive;
  color: white;
}

.tittle__desc {
  font-size: 44px;
  font-weight: 600;
  line-height: 1.4em;
  text-transform: uppercase;
  color: white;
  font-family: "Dosis", sans-serif;
}

.bercario__right-desc {
  line-height: 1.6em;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #ccc;
}

.btn-bercario {
  height: 60px;
  width: 200px;
  font-size: 21px;
  font-weight: bolder;
  align-self: center;
  line-height: 40px;
}

.galeria {
  height: 1400px;
  display: flex;
  flex-direction: column;
}

.galeria__tittle {
  display: flex;
  flex: 1.5;
  font-family: "Grand Hotel", cursive;
  font-size: 60px;
  color: #5CC6D0;
  justify-content: center;
  align-items: center;
}

.galeria__fotos {
  display: flex;
  flex: 8.5;
  flex-wrap: wrap;
  border: 1px solid black;
}

.container__fluid--local {
  height: 180px;
  width: 100%;
  background-color: #e33c4e;
}

.container__fluid--local-int {
  padding-top: 10px;
}

.contact__footer {
  height: 160px;
  display: flex;
}

.phone, .endereco, .horario {
  display: flex;
  flex: 1;
  align-items: center !important;
  justify-content: center !important;
  flex-direction: column;
}

.phone img, .endereco img, .horario img {
  opacity: 0.8;
}

h4 {
  z-index: 999;
  margin-top: -20px;
  color: white;
  font-size: 25px;
}

.fontes {
  z-index: 500;
  margin-top: -80px;
  color: white;
  font-size: 18px;
}

.fontes__mod {
  font-size: 15px;
  z-index: 500;
  margin-top: -80px;
  color: white;
}

.mapa {
  height: 400px;
}

.parceiros {
  height: auto;
  display: flex;
  flex-wrap: wrap;
}

.parceiros__widget {
  height: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  min-width: 150px;
  flex: 1;
  justify-content: center;
}

.parceiros__widget img {
  align-self: center;
  align-items: center;
  object-fit: contain;
  box-sizing: border-box;
  width: 150px;
}

.rodape__fundo {
  background-image: url(../image/rodape/fundo.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.rodape {
  height: 730px;
  display: flex;
}

.rodape__form, .rodape__facebook {
  margin-top: 50px;
  margin-bottom: 50px;
}

.rodape__form {
  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;
}

.rodape__facebook {
  display: flex;
  flex: 1;
}

.contact__rodape {
  display: flex;
  flex: 1.5;
  font-family: "Grand Hotel", cursive;
  font-size: 60px;
  color: #5CC6D0;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.formulario-input {
  height: 50px;
  width: 350px;
  background-color: transparent;
  border: 3px solid white;
  color: white;
}

.formulario-input--altura {
  height: 250px;
}

::placeholder {
  color: white !important;
  font-weight: bolder !important;
}

#emailHelp {
  color: #5CC6D0 !important;
}

.btn-form {
  width: -webkit-fill-available;
}

.rodape__facebook-link {
  margin-top: 40px;
}

.menu {
  height: 100px;
  background-color: white;
  width: 100%;
  display: flex;
}

.logo {
  display: flex;
  flex: 1;
  height: 100px;
  align-items: center;
}

.logo img {
  height: 50px;
  width: 100%;
}

.header-menu {
  display: flex;
  flex: 6;
  height: 100px;
  justify-content: flex-end;
}

aside {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  display: flex;
}

#menu-open {
  width: 40px;
  height: 40px;
  cursor: pointer;
  padding-top: 70px;
  margin-right: 20px;
}

#menu-area {
  height: 100vh;
  width: 0px;
  background-color: #222;
  overflow-x: hidden;
  overflow-y: auto;
  transition: all ease 0.5s;
  z-index: 999;
  margin-top: 50px;
}

#menu-area ul, #menu-area li {
  padding: 0;
  list-style: none;
}

#menu-area li {
  display: block;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-size: 2em;
  line-height: 30px;
  height: 20px;
  margin-bottom: 25px;
  padding-left: 55px;
  padding-top: 25px;
}

#fechar {
  display: none;
}

#img-menu {
  margin-right: 20px;
  width: 30px;
}

#menu-area li:hover {
  color: #ff8829;
}

.container--fluid__bluelight{
  background-color:black  ;
  height: 120px;
}

.contact__social--mod{
  justify-content: center;
}

.contact__social--mod a img{
  height: 40px;
  width: 40px;
  align-self: center;
}

.footer-copyright{
  color:#ff8829;
}

/*# sourceMappingURL=import.css.map */
